$app-brand-color: #17c490;
$segment-spacing: 1.8em;
$segment-title-spacing: 1.2em 1.8em;
$accordion-title-spacing: 1.2em 1.8em;
$body-background: #fbfdfd;
$sidebar-background: #318ec0;
$m-green: #16da9f3a ;

// ----------------------------------
// ------------ New
// ----------------------------------

#sidebar1 {
  font-size: 1.1em;
  padding-bottom: 100px;
}

.ui.sidebar {
  border-top-right-radius: 80px !important;
}
body.pushable{
  background: #ffffff00;
}
.ui.menu.fixed, .ui.menu.fixed .item:first-child, .ui.menu.fixed .item:last-child {
  border-radius: 10px!important;
}

.ui.visible.left.sidebar ~ .fixed.menu, .ui.visible.left.sidebar ~ .pusher {
  margin-left: 15px;
}

.ui.inverted.menu {
background: #ffffff00 !important;
}
.ui.left.visible.sidebar {
  -webkit-box-shadow: 0 0 14px #16da9f3a !important;
  box-shadow: 0 0 14px #16da9f3a !important;
}

#sidebar.ui.sidebar.vertical.menu > .item:not(:first-child) {
    margin-right: 10px;
}
.ui.vertical.menu>.item:last-child {
    border-radius: 0 0 0.28571429rem 0.28571429rem;
}
.ui.sidebar.menu .item {
    border-radius: 0!important;
}
.ui.inverted.menu .item, .ui.inverted.menu .item>a:not(.ui) {
    background: 0 0;
    color: #000000e6!important;
}

#sidebar.ui.sidebar.vertical.menu > .item:first-child {
  margin-bottom: 10px;
  box-shadow: 0 0 6px #16da9f3a !important;
}
.s-search {
  box-shadow: 0 0 6px #16da9f3a !important;
}

.ui.fluid.accordion, .ui.fluid.accordion .accordion {
  line-height: 0.5rem;
}

.ui.divider {
  margin: 0.2rem 0;

}

.ui.breadcrumb {
  margin-top: 0.2em;

}
.ui.table>tbody>tr>td, .ui.table>tr>td {
  padding-top: 0.2em;
  padding-right: 0.785714em;
  padding-bottom: 0.2em;
  padding-left: 0.785714em;
}

.ui.pagination.menu .item {
  line-height: 0.2rem;

}

.ui.big.buttons .button, .ui.big.buttons .dropdown, .ui.big.buttons .dropdown .menu>.item, .ui.big.buttons .or, .ui.ui.ui.ui.big.button {
  font-size: 1rem;
  box-shadow: 0 0 6px #16da9f3a !important;
}

.ui.blue.segment.segment.segment.segment.segment:not(.inverted) {
  border-top: 2px solid #2185d0;
  box-shadow: 0 0 6px #16da9f3a !important;
}

.ui.top.attached.header {
  border-radius: 0.28571429rem 0.28571429rem 0 0;
  box-shadow: 0 0 6px #16da9f3a !important;
}

.ui.attached:not(.message)+.ui.attached.segment:not(.top) {
  border-top: none;
  box-shadow: 0 0 6px #16da9f3a !important;
}

.ui.header .circular.icon {
  width: 2em !important;
  height: 2em !important;
}
// ----------------------------------
// ------------ Globals
// ----------------------------------
h1.ui.header {
  font-size: 1.5rem;
}

#content {
  padding: 0.2em;
}

.ui.inverted.menu {
  background: $sidebar-background;
}

body.pushable .pusher, body.centered {
  background: $body-background;
}

#wrapper.full.height {
  padding: 64px 12px 0 12px;
}

a {
  color: $app-brand-color;
  &:hover { color: $app-brand-color; }
}

// ----------------------------------
// ------------ Buttons
// ----------------------------------

.ui.button {
  font-weight: 400;
  box-shadow:  0 0 5px 1px #22242626 !important;
}

.ui.primary.button {
  background-color: $app-brand-color;
  box-shadow: 0 0 5px 1px #5eb17391 !important;
  &:hover, &:focus { background-color: #28b98d; box-shadow: none; }
}

.ui.labeled.icon.button {
  padding-left: 2.8em !important;
}

.ui.labeled.icon.button>.icon,
.ui.labeled.icon.buttons>.button>.icon {
  width: 2.8em !important;
  background: none !important;
  padding-left: .2em;
}


// ----------------------------------
// ------------ Forms
// ----------------------------------

.ui.form .field > label {
  margin: 0 0 .5rem 0;
  color: rgba(0,0,0,.8);
  font-weight: 400;
}

.ui.form .field > input:focus,
.ui.form .field > textarea:focus {
  border-color: rgba($app-brand-color, .4);
}
.ui.teal.labels .label, .ui.ui.ui.teal.label {
  background-color: $app-brand-color;
  border-color: #00b5ad;
  box-shadow: -1px 1px 5px 3px #5eb17391;
  
}

.ui.grey.labels .label, .ui.ui.ui.grey.label {
  background-color: #767676;
  border-color: #767676;
  color: #fff;
  box-shadow: -1px 1px 5px 3px #76767685;
}

.ui.purple.labels .label, .ui.ui.ui.purple.label {
  background-color: #a333c8;
  border-color: #a333c8;
  color: #fff;
  box-shadow: -1px 1px 5px 3px #a333c885;
}

.ui.blue.labels .label, .ui.ui.ui.blue.label, .ui.blue.labeled.icon.button  {
  background-color: #2185d0;
  border-color: #2185d0;
  color: #fff;
  box-shadow: -1px 1px 5px 3px #2184d07e !important;
}

.ui.green.labels .label, .ui.ui.ui.green.label {
  background-color: #21ba45;
  border-color: #21ba45;
  color: #fff;
  box-shadow: -1px 1px 5px 3px #21ba4583;
}

.ui.red.labels .label, .ui.ui.ui.red.label {
  background-color: #db2828;
  border-color: #db2828;
  color: #fff;
  box-shadow: -1px 1px 5px 3px #f3131391;
}

// ----------------------------------
// ------------ Sidebar menu
// ----------------------------------

#sidebar .sidebar-logo {
  max-width: 220px;
  margin-left: 10px;
  margin-top: 20px;
}

#sidebar.ui.sidebar.vertical.menu {
  > .item:first-child {
    margin-bottom: 10px;
  }

  > .item:not(:first-child) {
    margin-right: 10px;
  }

  .item > .header {
    text-transform: uppercase;
    font-size: 11px;
    margin-bottom: 16px;
  }

  .item > i.icon {
    float: none !important;
    margin: 2px 10px 2px 0 !important;
    opacity: .5;
  }

  .item::before {
    display: none;
  }

  .item.active {
    font-weight: inherit !important;
    color: black !important;
    border-radius: 0 99px 99px 0 !important;
    border: solid #17c49063  4px;
    background: #ffffff00!important;
    // box-shadow: -1px 0px 15px 1px #ffffff91, inset -3px 2px 20px 4px #5eb17391;
  }
}


// ----------------------------------
// ------------ Header
// ----------------------------------

.ui.header {
  .content {
    padding-left: 1.3rem !important;
  }

  .content .sub.header {
    font-size: 1rem;
    color: #9a9a9a;
    padding-top: 3px;
  }

  .circular.icon {
    font-size: 1em;
    color: $app-brand-color;
    background: rgba($app-brand-color, .1);
    box-shadow: none;
    float: left;
  }
}

// ----------------------------------
// ------------ Breadcrumb
// ----------------------------------

.ui.breadcrumb {
  .active {
    color: #9a9a9a;
    font-weight: 400 !important;
  }

  a {
    color: #9a9a9a;
    &:hover { color: $app-brand-color; }
  }

  .divider {
    opacity: .4;
  }
}

// ----------------------------------
// ------------ Segment
// ----------------------------------

.ui.segment,
.ui.attached.segment {
  box-shadow: 0 2px 4px 0 rgba(34,36,38,.03);
  border: 1px solid rgba(34,36,38,.1);
  padding: $segment-spacing;
  width: 100%;
}

.ui.attached.segment {
  margin-left: 0;
  margin-right: 0;
}

.ui.attached.header {
  padding: $segment-title-spacing;
  margin: 0;
  box-shadow: 0 2px 4px 0 rgba(34,36,38,.03);
  border: 1px solid rgba(34,36,38,.1);
  border-bottom: 1px solid #eaeaea;
  font-size: inherit;
}

.segment.spaceless {
  padding: 0 !important;
}

// ----------------------------------
// ------------ Accordion
// ----------------------------------

.ui.styled.accordion {
  box-shadow: 0 2px 4px 0 rgba(34,36,38,.03);
  border: 1px solid rgba(34,36,38,.1);

  .title {
    padding: $accordion-title-spacing;
    border-top: none;
  }

  .content {
    padding: $segment-spacing;
    border-top: 1px solid #eaeaea;
  }
}

// ----------------------------------
// ------------ Pagination / Menu
// ----------------------------------

.ui.menu {
  box-shadow: 0 2px 4px 0 rgba(34,36,38,.03);
  border: 1px solid rgba(34,36,38,.1);
}

// ----------------------------------
// ------------ Table
// ----------------------------------

.sylius-grid-table-wrapper {
  .ui.sortable.table {
    thead th {
      padding-top: 20px;
      padding-bottom: 20px;

      &.sorted {
        background: inherit;
        color: $app-brand-color;
      }
    }
  }
}

// ----------------------------------
// ------------ Toggle
// ----------------------------------

.ui.toggle.checkbox input:checked~.box:before, .ui.toggle.checkbox input:checked~label:before,
.ui.toggle.checkbox input:focus:checked~.box:before, .ui.toggle.checkbox input:focus:checked~label:before {
  background-color: $app-brand-color !important;
}
