{% extends 'backend/layout.html.twig' %}

{% import '@SyliusUi/Macro/labels.html.twig' as label %}
{% import '@SyliusUi/Macro/buttons.html.twig' as buttons %}

{% block title %}{{ parent() }} {{ 'monofony_demo_backend.ui.booking'|trans ~' '~ booking.status }}{% endblock %}

{% block content %}
    <div class="ui stackable two column grid">
        {% include '@MonofonyDemoBackend/backend/booking/show/_header.html.twig' %}
    </div>

    <div class="ui divider"></div>
    {% include '@MonofonyDemoBackend/backend/booking/show/_breadcrumb.html.twig' %}

    <div class="ui stackable grid">
        {% include '@MonofonyDemoBackend/backend/booking/show/_content.html.twig' %}
    </div>
{% endblock %}
