<div class="ui one column stackable grid">
    <div class="sixteen wide mobile sixteen wide tablet thirteen wide computer column sylius-product-index">
        {{ include('@MonofonyDemoBackend/backend/crud/index/_content.html.twig') }}
    </div>
</div>
